<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/head') %> 
<body>
  <%- include('../layouts/navbar') %> 
  <div class="container">
    <h1>Blog Detail</h1>
    <h3><%= blog.title  %>   </h3>
    <p><%= blog.body %>  </p>
    <p><%= blog.author %> </p>
    <p><%= blog._id %> </p>
    <a class="btn btn-danger" id="delete" data-doc="<%= blog._id %>"  >Delete</a>

    <a class="btn btn-warning" href="/blogs/<%=blog._id %>/edit">Edit blog</a>
  </div>

  <script>
    const deleteBtn = document.querySelector('a#delete')
    deleteBtn.addEventListener('click' , (e) => {
      const endpoint = `/blogs/${e.target.dataset.doc}`
      fetch(endpoint, {
        method : 'DELETE'
      })
      .then((response) => response.json())
      .then((data)=> window.location.href=data.redirect)
      .catch((err)=> console.log('ERROR:',err))
    })
  </script>

</body>
</html>