<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/head') %> 
<body>
  <%- include('../layouts/navbar') %> 
  <div class="container">
    <h1> Blogs List</h1>
    <% if (blogs.length > 0) { %> 
      <% blogs.forEach((blog) => { %> 
        <div>
          <a href="/blogs/<%= blog.id %> "> <%= blog.title %> Written by <%= blog.author %>  </a>
        </div>
      <% }) %> 
    <% } else { %>  
      <p> No blogs yet</p>
    <% } %> 
  </div>
</body>
</html>